##### folders
__pycache__/

##### files
*.c
*.out
data/cifar10/cifar-10-batches-py/batches.meta
data/cifar10/cifar-10-batches-py/data_batch_1
data/cifar10/cifar-10-batches-py/data_batch_2
data/cifar10/cifar-10-batches-py/data_batch_3
data/cifar10/cifar-10-batches-py/data_batch_4
data/cifar10/cifar-10-batches-py/data_batch_5
data/cifar10/cifar-10-batches-py/readme.html
data/cifar10/cifar-10-batches-py/test_batch
data/cifar10/cifar-10-python.tar.gz
data/cifar10/cifar10_lp5.json
data/cifar10/cifar10_lp100.json
results/baseline-whole/finetune_cifar10_lp100_best.ckpt
results/baseline-whole/finetune_cifar10_lp10_best.ckpt
results/selfie-finetune-whole/models/finetune_cifar10_lp100_best.ckpt
results/selfie-finetune-whole/models/finetune_cifar10_lp10_best.ckpt
results/selfie-finetune-whole/models/pretrain_cifar10_un_best.ckpt
results/selfie-finetune-whole/pretrain_cifar10_un_complete.pth
results/selfie-finetune-whole/selfie-models.tar.gz
